<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="modals">
    <div class="modal" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="/api/addressee" method="POST" role="form">
                        <div class="form-group">
                            <label for="name">Имя:</label>
                            <input type="text" name="name" id="name" class="form-control input" required/>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="email" name="email" id="email" class="form-control input" required/>
                        </div>
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Отдел</button>
                            <div class="dropdown-menu">
                                <span class="dropdown-item">?</span>
                            </div>
                        </div>
                        <div class="text-right"><input type="submit" class="btn btn-primary" value="Сохранить"/></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="addFromFileModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fileInput" aria-describedby="fileInput">
                                <label class="custom-file-label" for="fileInput">Выберите файл</label>
                            </div>
                        </div>
                        <div class="text-right"><input type="submit" class="btn btn-primary" value="Добавить"/></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="settingsModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Настройки</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="password1">Введите новый пароль:</label>
                        <input type="password" name="password1" id="password1" class="form-control input"/>
                    </div>
                    <div class="form-group">
                        <label for="password2">Повторите пароль:</label>
                        <input type="password" name="password2" id="password2" class="form-control input"/>
                    </div>
                    <div class="text-right"><button class="btn btn-primary" id="btnPass">Изменить пароль</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>