body, html {
    font-family: sans-serif;
    min-width: 860px;

}

h2 {
    font-size: 18px;
    font-weight: bold;
}

textarea {
    max-height: 400px;
}
.logo {
        width: 48px;
    height: 44px;
}

.shadow {
    -webkit-box-shadow: 8px 10px 23px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 10px 23px -6px rgba(0,0,0,0.75);
    box-shadow: 8px 10px 23px -6px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

.loading {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    min-width: 20px;
    min-height: 20px;
    background: rgba(0, 0, 0, 0.1) url('../images/spinner-big.svg') center center no-repeat;
    background-size: 30%;
    border-radius: 5px;
}



.font-small {
    font-size: 12px;
}


.list-group-item label {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

}


#addressee-list {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

}

#addressee-list .selected {
    background: #0062cc;
    color: white;
}

#addressee-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#addressee-list ul li {
    padding: 5px 5px 5px 40px;
}

#addressee-list li:hover > div {

}

 #addressee-list ul li:hover {
    /*background: rgba(0,0,0, 0.1);*/
    cursor: default;
}

#addressee-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}


#addressee-container > div {
    margin-bottom: 20px;
}
.list-group input {
    display: inline-block !important;
}

.department-name {
    padding: 10px 10px 10px 21px;
    background: url("../images/folder.png") 0 center no-repeat;
    background-size: 32px 32px;
}

.open-tree {
    background: url("../images/folder-open.png") 0 center no-repeat !important;
    background-size: 32px 32px !important;
}

.department-name input {
    margin-right: 10px;
}


.addressee-list-item {
    display: flex;
    align-items: center;

}

.addressee-list-item input {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#mail-list {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;

}

#mail-list li {
    display: flex;
    padding: 5px;

}

#mail-list-subject {
    width: 100%;
    flex-grow: 1;

}

#mail-list-text {
    color: #cccccc;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; /* Отменяем перенос текста */
    width: 100%;


}
#mail-list-created {

}

#mail-list-status, #mail-list-created, #mail-list-text  {
    font-size: 14px;
}

#table-mails {
    font-size: 14px;
}

#table-body .sent {
    color: green;
}

#table-body .delivered {
    color: green;
}

#table-body .failed {
    color: red;
}

#table-body .sending {
    color: blue;
}

#table-body .canceled {
    color: gray;
}

.mail-list-container {
    /*display: none;*/
}


.dataTables_info, .dataTables_paginate, .dataTables_filter {
    font-size: 14px;
}

#alert-dynamic {
    display: none;
    margin: 0;
}

.alert-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.main-container {
    height: 90vh;
    padding: 40px 0 0 0;
}

#schedule-btn-toggle {
    flex-grow: 1;
    text-align: left;
    display: flex;
    align-items: center;
}

.schedule-container {
    position: absolute;
    background: transparent;
    z-index: 9;
    display: flex;
    flex-direction: column;
    width: 0;
    height: 0;
    top: 100%;
    left: 0;
    overflow: hidden;
}

.schedule-content {
    background: white;
}


.close {
    cursor: default;
}

.schedule-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../images/timetable.svg") no-repeat center;
    background-size: 100%;
}

.schedule-icon:hover {
    background: url("../images/timetable_on.svg") no-repeat center;
    background-size: 100%;
}

.schedule-info {
    margin-left: 10px;
    color: green;
}

@media only screen and (max-width: 1024px) {

    .container {
        max-width: 100%;
    }

    .main-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

#modal-addressee-list {
    margin-top: 20px;
    overflow-y: auto;
    max-height: 500px;
}

#modal-addressee-list > div {
    margin-bottom: 10px;
}

#modal-mail-message {
    overflow-y: auto;
    max-height: 500px;
}
