<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>G-Шоколад менеджер</title>

    <link href="/images/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/images/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
    <link href="/images/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/small-business.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/modals :: modals"></div>

<div class="container main-container">


    <div class="row h-100">

        <div class="col-4 card shadow p-3" id="addressee-container">

            <div class="text-center flex-grow-0" sec:authorize="hasRole('ADMIN')">
                <div class="btn-group">
                    <button class="btn btn-light" onclick="addDepartment()" type="button">Добавить департамент</button>
                </div>
            </div>
            <div class="flex-grow-0">
                <input type="text" class="form-control" id="searchAddressee" placeholder="Поиск по имени или почте ..."
                       onkeyup="searchAddressee(this.value)" />
            </div>
            <div class="h-100 flex-grow-1 overflow-auto">
                <ul id="addressee-list" class="noselect">
              </ul>
            </div>
        </div>
        <div class="col-8 container-fill-height flex-column">
            <div class="card shadow" style="margin-bottom: 10px;">
                <div class="card-body" id="create-message-container">
                    <h2 class="text-center">Создать новую рассылку</h2>
                    <div class="position-relative">

                        <div class="schedule-container">

                            <div class="controll d-flex flex-grow-0 align-items-center"
                                 style="margin-bottom: 10px;">
                                <div class="w-100"><img height="32px" src="../images/timetable.svg" width="32px"/></div>
                                <div class="close" onclick="toggleSchedule(false)">&times;</div>
                            </div>

                            <div class="flex-grow-1 d-flex schedule-content">
                                <div class="w-100">
                                    <div>Дата начала</div>
                                    <input class="datepicker form-control" id="schedule-date"/>
                                </div>
                                <div class="w-100">
                                    <div>Период</div>
                                    <select class="form-control" id="schedule-period">
                                        <option value="ONCE">Один раз</option>
                                        <option value="DAILY">Каждый день</option>
                                        <option value="WEEKLY">Каждую неделю</option>
                                        <option value="MONTHLY">Каждый месяц</option>
                                        <option value="YEARLY">Каждые 5 минут</option>
                                    </select>
                                </div>
                            </div>
                            <div class="flex-grow-0 text-right"></div>

                        </div>

                        <label for="new-message-subject">Тема сообщения:</label>
                        <input type="text" class="form-control" id="new-message-subject"
                               placeholder="Заполните данные"/><br>
                        <label for="new-message-text">Текст сообщения:</label>
                        <textarea class="form-control" id="new-message-text" rows="3"
                                  placeholder="Заполните данные"></textarea><br>
                        <div class="text-right">
                            <div class="btn-group justify-content-center align-items-center w-100">

                                <div class="w-100" id="schedule-btn-toggle">
                                    <div class="schedule-icon" onclick="toggleSchedule(true);"></div>
                                    <div class="schedule-info">
                                        <div class="date font-small"></div>
                                        <div class="period font-small"></div>
                                    </div>
                                </div>

                                <div class="text-right w-100">
                                    <button class="btn btn-primary flex-grow-0" onclick="sendNow()">
                                        Создать рассылку
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="card mt-1 mail-list-container shadow overflow-auto h-100">
                <div class="card-body ">
                    <h2 class="text-center">Ваши рассылки</h2>
                    <!--                    <div class="text-center">-->
                    <!--                        <label for="searchMessage"></label><input type="text" class="form-control mt-1" id="searchMessage" placeholder="Фильтр...">-->
                    <!--                    </div>-->
                    <div class="message-wrapper">
                        <table id="table-mails">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Тема</th>
                                <th scope="col">Получатель(и)</th>
                                <th scope="col">Статус</th>
                                <th scope="col">Создано</th>
                            </tr>
                            </thead>
                            <tbody id="table-body">


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-datepicker.ru.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/entity.js"></script>
</body>
</html>
