<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Email manager</title>
    <link href="https://blackrockdigital.github.io/startbootstrap-small-business/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-small-business/css/small-business.css" rel="stylesheet">
    <link href="https://6xxm3zn5vk.codesandbox.io/static/custom.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/modals :: modals"></div>

<div class="container">
    <div class="row my-5">
        <div class="col-4">
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#addModal">Добавить</button>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#addFromFileModal">Добавить из файла</button>
                </div>
            </div>
            <div class="list-group p-4">
                <label for="searchAddressee"></label><input type="text" class="form-control mt-1" id="searchAddressee" placeholder="Фильтр...">
                <div class="addressee-wrapper">

                    Сюда подгружаем группы и адресатов в таком виде (если оставляем текущий дизайн):
                        <input type="checkbox" value="addressee.getId()" id="addressee.getId()"/><label class="list-group-item" text="addressee.getEmail()" for="addressee.getId()"></label>

                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <input type="text" class="form-control" id="messageSubject" placeholder="Тема сообщения" value="Тестовое сообщение от группы G" minlength="3" disabled><br>
                    <label for="messageText">Введите текст сообщения:</label><textarea class="form-control" rows="3" id="messageText"></textarea><br>
                    <div class="text-center">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary" id="btnSave" disabled>Сохранить</button>
                            <button class="btn btn-outline-secondary" id="btnSendLater" data-toggle="modal" data-target="#sendLaterModal" disabled>Сохранить и запланировать</button>
                            <button class="btn btn-outline-secondary" id="btnSendNow">Сохранить и отправить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-body">
                    <div class="text-center">
                        <label for="searchMessage"></label><input type="text" class="form-control mt-1" id="searchMessage" placeholder="Фильтр...">
                    </div>
                    <div class="message-wrapper">

                    Сюда подгружаем список сообщений

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://blackrockdigital.github.io/startbootstrap-small-business/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-small-business/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    $("#btnSendNow").click(function() {
        sendMessage();
        return false;
    });

    function sendMessage() {
        $.ajax({
            type: "PUT",
            contentType: "application/json",
            url: "/message/sendnow",
            dataType: "json",
            data: formToJSON(),
            async: false,
            cache: false,
            processData: false,
            success: window.location.replace("/")
        });
    }

    function formToJSON() {
        return JSON.stringify({
            messageAddressees: getAddressees(),
            messageSubject: $("#messageSubject").val(),
            messageText: $("#messageText").val(),
        });
    }

    function getAddressees() {
        var addressees = [];
        $('input[type=checkbox]').each(function () {
            if (this.checked) {
                addressees.push($(this).val());
            }
        });
        return addressees;
    }
</script>
</body>
</html>